{% extends 'base.html' %}

{% block content %}
<div class="podcast-container">
<div class="podcast-header">
    <img src="{{ podcast.image.url }}" alt="{{ podcast.title }}">
    
    <div class="podcast-info">
        <h1>{{ podcast.title }}</h1>
        <p>{{ podcast.description }}</p>

        <div class="favorite-buttons">
            {% if is_favorited %}
                <form method="post" action="{% url 'toggle_favorite' podcast.id %}">
                    {% csrf_token %}
                    <button class="unsave-btn">Unsave </button>
                </form>
            {% else %}
                <form method="post" action="{% url 'toggle_favorite' podcast.id %}">
                    {% csrf_token %}
                    <button class="save-btn">+ Save</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
<hr>
<h2 class="episodes-title">Episodes</h2>

<div class="episodes-list">
    {% for episode in episodes %}
        <div class="episode-row">
            <div class="episode-info">
                <h4>
                    <a href="{% url 'episode_detail' episode.id %}">
                        {{ episode.title }}
                    </a>
                </h4>
                <p>{{ episode.release_date }}</p>
            </div>

            <div class="episode-actions">
                ▶
            </div>
        </div>
    {% endfor %}
</div>
<h2>Reviews</h2>

{% for review in podcast.reviews.all %}
    <p>
        <strong>{{ review.user.username }}</strong>  
        ⭐ {{ review.rating }}/5 <br>
        {{ review.comment }} <br>
        <small>{{ review.created_at }}</small>
    </p>

    {% if review.user == request.user %}
        <form action="{% url 'delete_review' review.id %}" method="post">
            {% csrf_token %}
            <button class="delete-btn">Delete</button>
        </form>
    {% endif %}
    <hr>
{% empty %}
    <p>No reviews yet.</p>
{% endfor %}


<h2>Leave a Review</h2>

{% if user.is_authenticated %}
    <form method="POST" action="{% url 'add_review' podcast.id %}">
        {% csrf_token %}
        {{ form.as_p }}
         <label>Rating:</label><br> <input type="number" name="rating" min="1" max="5"><br><br> <label>Comment:</label><br> <textarea name="comment"></textarea><br><br>
        <button type="submit">Submit Review</button>
    </form>
{% else %}
    <p>You must be logged in to leave a review.</p>
{% endif %}
{% endblock %}